@charset "UTF-8";

@import "var.less";
@import "font.less";
@import "notes.less";
@import "apps.less";

// functions
.more-buttons(@pos, @hl, @margin) {
	position: absolute;
	bottom: 0;
	@{pos}: @hl;
	cursor: pointer;
	margin: @margin;
	&:hover {
		opacity: 76%;
	}
	&:active {
		opacity: 69%;
	}
}

// css
body {
	background-attachment: fixed;
	margin: 0;
	* {
		font-family: 'Segoe UI', Roboto, arial, sans-serif;
		&::selection {
			background-color: @color-tr;
		}
	}
}
.background {
	background-position: center center;
  	background-repeat: no-repeat;
	background-size: cover;
  	height: 100%;
  	left: 0;
  	margin: 0;
  	opacity: 0;
  	padding: 0;
  	position: fixed;
  	top: 0;
	transition: opacity 700ms;
	-webkit-transition: opacity 700ms;  
	width: 100%;
	z-index: -2;
}
.content {
	height: 100%;
  	left: 0;
  	margin: 0;
  	padding: 0;
  	position: fixed;
  	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	.google-logo {
		width: 272px;
		height: 92px;
		margin: 0 auto;
		margin-top: 200px;
		background-color: @logo-color;
		mask: url(../image/logo.svg) no-repeat 100%;
		-webkit-mask: url(../image/logo.svg) no-repeat 100%;
	}
	.searchbox {
		background-color: @color-white;
		border-radius: 2em;
		width: 552px;
		height: 42px;
		margin: 130px auto;
		outline: none;
		box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
		.search {
			width: 440px;
			height: 37px;
			border: none;
			padding: 3px 0 0 0;
			outline: none;
			font-size: 16px;
			color: @searchbox-text-color;
			caret-color: @searchbox-caret-color;
			margin-left: 10px;
			vertical-align: middle;
			&::-webkit-input-placeholder {
				color: @color-placeholder;
			}
			&::selection {
				color: @color-placeholder;
			}
			&:focus::selection {
				color: @color-black;
				background-color: @searchbox-select-color;
			}
		}
		.voice {
			width: 22px;
			height: 22px;
			margin-right: 19px;
			margin-top: 10px;
			border: 0;
			background-image: url(../image/voice.svg);
			background-color: @color-tr;
			float: right;
			outline: none;
			cursor: pointer;
		}
		.history-list {
			width: 552px;
			height: 0;
			display: none;
			background-color: @historybox-background-color;
			color: @color-white;
			border-radius: 2em;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			overflow: hidden;
			position: relative;
			top: 0;
			left: 0;
			right: 0;
			.history-item {
				display: block;
				color: @color-black;
				text-decoration: none;
				font-size: 16px;
				padding: 7px;
				padding-left: 20px;
				margin-top: 4px;
				.history-text {
					display: inline;
					margin-left: 10px;
				}
				&:hover {
					background-color: @historybox-item-hover-color;
				}
				&::before {
					content: "";
					width: 20px;
					height: 20px;
					display: inline-block;
					position: relative;
					top: 4px;
					background-color: @historybox-item-icon-color;
					mask: url(../image/clock.svg) no-repeat;
					mask-position: center;
					mask-size: 20px;
					-webkit-mask: url(../image/clock.svg) no-repeat;
					-webkit-mask-position: center;
					-webkit-mask-size: 20px;
				}
				&[data-hover=true]::after {
					content: "";
					width: 20px;
					height: 20px;
					display: block;
					position: relative;
					top: 4px;
					right: 8px;
					float: right;
					background-color: @historybox-item-icon-color;
					mask: url(../image/delete.svg) no-repeat;
					mask-position: center;
					mask-size: 20px;
					-webkit-mask: url(../image/delete.svg) no-repeat;
					-webkit-mask-position: center;
					-webkit-mask-size: 20px;
				}
			}
		}
		&::before {
			content: "";
			width: 25px;
			height: 25px;
			margin-left: 19px;
			margin-top: 12px;
			background-image: url(../image/search.svg);
			background-size: 100%;
			display: block;
			float: left;
		}
	}
}
.morebox {
	position: fixed;
	bottom: 0;
	width: 100%;
	.more {
		width: 30px;
		height: 30px;
		.more-buttons(right, 0, 23px);
	}
	.image-info {
		display: none;
		width: 35px;
		height: 35px;
		.more-buttons(right, 106px, 19px);
	}
	.account {
		width: 35px;
		height: 35px;
		.more-buttons(right, 53px, 19px);
	}
	.applications {
		width: 30px;
		height: 30px;
		.more-buttons(left, 0, 23px);
	}
}
